/*Global Variables*/

:root{
    --RED: #AE1332;
    --WHITE: #FFFFFF;
    --LIGHTGREEN:#A4CB66;
    --GOLDENORCHE:#F5CE13;
    --STRAWBERRY:#F8766B;
    --BANANA: #EDD251;
    --WATERMELONGREEN:#9DC262;
    --REDAPPLE:#E93F29;
    --PEACH:#DB4F4B;  
    --PLUMS: #9B5366;  
    --ORANGE: #F47F4C;
    --KIWI:#98B37E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin: 0 auto;
    width: 100%;
    // position: relative;
}
li{
    list-style: none;
}
.container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.image {
    display: block;
}