<section class="contact-sect container" id="contacts">
  <div class="contact-section container">
    <div class="cntct">
      <h2 class="contact-hdr">Fresh Harvest Box has got you covered</h2>
      <div class="contact-img">
        <img class="img-melon" srcset="/src/images/melonmobile.jpg 375w, /src/images/melon.jpg 1200w" sizes="(min-width: 1280px) 600px, (min-width: 375px) 300px, 100vw" src="/src/images/melonmobile.jpg" alt="melon" />
        <img class="img-berry" src="/src/images/berry.jpg" alt="berry" />
      </div>
    </div>

    <div class="contact-order">
      <p class="contact-slogan">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for <br />
        anyone looking to eat healthier or support local farmers. Order your box
        today and <br />start enjoying the best that nature has to offer!
      </p>

      <div class="contact-subs">
        <form action="" class="contact-form form">
          <label class="footer-label label">
            <input
              type="text"
              name="email"
              id="contact-email"
              placeholder="Enter email..."
              class="contact-textbox"
              required
            />
          </label>
          <button class="contact-button" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
