<section class="fruits container" id="fruits">
    <div class="fruit-header-container">
        <h2 class="fruit-header">Organic Fruits</h2>
        <p class="fruit-def">
            Our organic fruits are hand-picked from local farms and delivered straight to your doorstep, <br>
            ensuring that you get the freshest and most nutritious produce possible. We offer a wide <br>
            selection of organic fruits grown without the use of harmful pesticides or chemicals.
        </p>
    </div>

    <ul class="fruit-list">
        <li class="fruit-card" id="strawberry">
            <h3 class="fruit-name">Strawberry</h3>
            <p class="plant-type">Plant</p>
            <div class="fruit-img"><img src="/src/images/stawberry.png" alt="strawberry"/></div>
            <div class="price-container">
                <p class="fruit-price">100 UAH / kg</p>
            </div>
            
        </li>

        <li class="fruit-card" id="banana">
            <h3 class="fruit-name">Banana</h3>
            <p class="plant-type">Plant</p>
            <div class="fruit-img"><img src="/src/images/banana.png" alt="banana"/></div>
            <div class="price-container">
                <p class="fruit-price">80 UAH / kg</p>
            </div>
        </li>

        <li class="fruit-card" id="watermelon">
            <h3 class="fruit-name">Watermelon</h3>
            <p class="plant-type">Plant</p>
            <div class="fruit-img"><img src="/src/images/watermelon.png" alt="watermelon"/></div>
            <div class="price-container">
                <p class="fruit-price">40 UAH / kg</p>
            </div>
        </li>

        <li class="fruit-card" id="lime">
            <h3 class="fruit-name">Lime</h3>
            <p class="plant-type">Plant</p>
            <div class="fruit-img"><img src="/src/images/lime.png" alt="lime"/></div>
            <div class="price-container">
                <p class="fruit-price">60 UAH / kg</p>
            </div>
        </li>

        <li class="fruit-card" id="apple">
            <h3 class="fruit-name">Apple</h3>
            <p class="plant-type">Plant</p>
            <div class="fruit-img"><img src="/src/images/apple.png" alt="apple"/></div>
            <div class="price-container">
                <p class="fruit-price">50 UAH / kg</p>
            </div>
        </li>

        <li class="fruit-card" id="peach">
            <h3 class="fruit-name">Peach</h3>
            <p class="plant-type">Plant</p>
            <div class="fruit-img"><img src="/src/images/peach.png" alt="peach"/></div>
            <div class="price-container">
                <p class="fruit-price">80 UAH / kg</p>
            </div>
        </li>

        <li class="fruit-card" id="plums">
            <h3 class="fruit-name">Plums</h3>
            <p class="plant-type">Plant</p>
            <div class="fruit-img"><img src="/src/images/plums.png" alt="plums"/></div>
            <div class="price-container">
                <p class="fruit-price">40 UAH / kg</p>
            </div>
        </li>

        <li class="fruit-card" id="orange">
            <h3 class="fruit-name">Orange</h3>
            <p class="plant-type">Plant</p>
            <div class="fruit-img"><img src="/src/images/orange.png" alt="orange"/></div>
            <div class="price-container">
                <p class="fruit-price">60 UAH / kg</p>
            </div>
        </li>

        <li class="fruit-card" id="kiwi">
            <h3 class="fruit-name">Kiwi</h3>
            <p class="plant-type">Plant</p>
            <div class="fruit-img"><img src="/src/images/kiwi.png" alt="kiwi"/></div>
            <div class="price-container">
                <p class="fruit-price">90 UAH / kg</p>
            </div>
        </li>
    </ul>

    <button class="order-btn order-modal-open" type="button">
        <div class="btn-lbl">
            <svg class="arrow" width="14" height="14">
                <use href="/src/images/icons.svg#arrow-icon"></use>
            </svg>
            <span class="order-lbl">Order</span>
        </div>
    </button>
</section>