<header class="header container">
    <nav class="NavBar">
            <ul class="NavBar-link-list">
                <li class="link-list-item"><a href="#">How It Works</a></li>
                <li class="link-list-item"><a href="#">Fruits</a></li>
                <li class="link-list-item"><a href="#">Contacts</a></li>
            </ul>
    </nav>
    <!--Logo-->
    <label class="nav-logo">
        <svg class="company-icon" width="16" height="16">
            <use href="/src/images/icons.svg#vector-dotted-icon"></use>
            <p class="company-name">FRESH HARVEST BOX</p>
        </svg>
    </label>

    <div class="shopping-logo">
        <svg class="shopping-icon" width="28" height="28">
            <use href="/src/images/icons.svg#uil_cart-icon"></use>
        </svg>
    </div>
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu" id="toggleButton">
        <svg class="menu-icon" width="24" height="24">
                <use id="menuIcon" xlink:href="/src/images/icons.svg#gg_menu-left-icon"></use>
        </svg>  
    </button>
    <!-- <button class="menu-toggle js-close-menu">
        <svg class="menu-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-x"></use>
        </svg>  
    </button> -->
</header>
<div class="menu-container js-menu-container" id="mobile-menu">
       
      <div class="mobile-menu-container">
        <ul class="mobile-link-list">
            <li class="mobile-link-item"><a href="#">How It Works</a></li>
            <li class="mobile-link-item"><a href="#">Fruits</a></li>
            <li class="mobile-link-item"><a href="#">Contacts</a></li>
            <li>
                <svg class="mobile-shopping-icon" width="28" height="28">
                    <use href="/src/images/icons.svg#uil_cart-icon"></use>
                </svg>
            </li>
        </ul>
      </div>
</div>

<script>
     // Function to toggle the SVG href
     function toggleSvgHref() {
         // Get the <use> element
         var useElement = document.getElementById('menuIcon');

         // Check the current href and toggle it
         if (useElement.getAttributeNS('http://www.w3.org/1999/xlink', 'href') === '/src/images/icons.svg#gg_menu-left-icon') {
             useElement.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '/src/images/icons.svg#icon-x'); // Change to another icon
         } else {
             useElement.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '/src/images/icons.svg#gg_menu-left-icon'); // Change back to the original icon
         }
     }

     // Add click event listener to the button
     document.getElementById('toggleButton').addEventListener('click', toggleSvgHref);
</script>