<!-- Hero Section -->
<section class="hero container">
    <h1>fresh harvest box is your one-stop place for a delicious fruit basket</h1>
    <div class="photo-cont hero-photo-cont strawberry-cont">
        <img src="/src/images/stawberry.png" class="image hero-image strawberry-image"/>
    </div>
    <div class="photo-cont hero-photo-cont banana-cont">
        <img src="/src/images/banana.png" class="image hero-image banana-image" />
    </div>
    <div class="photo-cont hero-photo-cont redhaired-woman-cont">
        <img src="/src/images/redhaired-woman.jpg" class="image hero-image redhaired-woman-image" />
    </div>
    <div class="btn-cont hero-btn-cont shop-now-cont">
        <button class="btn hero-btn shop-now-btn" type="button">SHOP NOW</button>
    </div>
    <div class="p-cont hero-p-cont expertly-curated-cont">
        <p class="expertly-curated">Our expertly curated fruit baskets are made with the freshest, 
            highest quality fruits available. Whether you are looking for a healthy snack or a gift 
            for a loved one, Fresh Harvest Box has got you covered.
        </p>
    </div>
    <div class="card-cont hero-card-cont hero-watermelon-cont">
        <p class="card-title">fruit</p>
        <img src="/src/images/watermelon.png" class="image hero-image watermelon-image" />
        <p class="card-desc">Refreshing and juicy, watermelon is the perfect summer treat and a great 
            source of hydration
        </p>
    </div>
    <div class="card-cont hero-card-cont hero-strawberrybasket-cont">
        <p class="card-title">fruit</p>
        <img src="/src/images/strawberrybasket.png" class="image hero-image strawberrybasket-image" />
        <p class="card-desc">Sweet and juicy, strawberries are packed with vitamin C and antioxidants, 
            making them a delicious and healthy snack
        </p>
    </div>
    <div class="btn-cont hero-btn-cont organic-cont">
        <button class="btn hero-btn organic-btn" type="button">#ORGANIC</button>
    </div>
    <div class="btn-cont hero-btn-cont products-cont">
        <button class="btn hero-btn products-btn" type="button">#PRODUCTS</button>
    </div>
    <div class="btn-cont hero-btn-cont basket-cont">
        <button class="btn hero-btn basket-btn" type="button">#BASKET</button>
    </div>
    <div class="btn-cont hero-btn-cont fruits-cont">
        <button class="btn hero-btn fruits-btn" type="button">#FRUITS</button>
    </div>
</section>