<section class="howitworks container" id="howitworks">
    <div class="step-header">
        <h3 class="how-to">To Order Your Fruit Basket,<br>
             simply follow these easy steps
        </h3>
        <p class="description"> Our basket are assembled with care and delivered straight to your doorstep, so you <br />
        can enjoy the taste of fresh fruit without ever leaving your home. Whether you're <br />
        looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.
        </p>
    </div>

    <ul class="step-order">
        <li class="step-card">
            <div class="step-text">
                <p class="step-text-num" id="step-red">First Step</p>
                <p class="step-def">Just choose the fruit you want to order by clicking on the checkboxes next to it.</p>
            </div>
        </li>
        <li class="step-card">
            <div class="step-text">
                <p class="step-text-num" id="step-green">Second Step</p>
                <p class="step-def">Click on the basket and fill out the form.</p>
            </div>
        </li>

        <li class="step-card">
            <div class="step-text">
                <p class="step-text-num" id="step-yellow">Third Step</p>
                <p class="step-def">Sit back and relax! Your fresh fruit basket will be delivered.</p>
            </div>
        </li>
    </ul>

    <div class="fruit-pic"> </div>
</section>