<!-- for thank you -->
<div class="thankyoupopup  is-hidden submit-modal">
    <button class="thankyouclosebutton submit-modal-close">
        <svg class="thankyouclose" width="24" height="24">
            <use href="/src/images/icons.svg#icon-x"></use>
        </svg>
    </button>
    <img class="raspberry" src="/src/images/raspberry.png" alt="Raspberry">
    <h1 class="thankyoutext">THANK YOU</h1>
    <p class="thankyouparagraph">Thank you for your order! Our team is preparing your box with fresh, delicious
        fruits and vegetables, and we'll deliver it straight to your doorstep. We appreciate your business and look
        forward to providing you with the best possible experience!</p>
</div>